/*.result-colors {
  display: flex;
  height: 200px;
  border: 1px solid grey;
}

.result-colors .color {
  list-style-type: none;
  width: calc(100% / 3);
  height: 200px;
  min-height: 1em;
  background-color: grey;
  border-radius: 10px;
  margin: 5px;
  align-self: flex-end;
}

.color.red {
  background-color: red;
}
.color.purple {
  background-color: purple;
}
.color.blue {
  background-color: blue;
}

.result-colors .color span {
  text-align: center;
  margin-top: -1em;
}*/