/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
   font-family: 'BebasNeue';
   src: font-url('BebasNeue-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'BebasNeue';
   src: font-url('BebasNeue-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

#sidebar {
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 300px;
  border-right: 20px solid #FFD948;
  padding: 10px;
  h1 {
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-weight: bold;
  }
  img {
    margin: 20px auto;
  }
  .vivatech {
    width: 70%;
    display: block;
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
}

.content {
  margin-left: 300px;
  padding-top: 10px;
  font-family: "Helvetica Neue" sans-serif;
  
  .card {
    border: none;
    
    .result-color {
      span {
        color: #FC3A42;
        font-size: 2em;
        font-weight: bold;
      }
    }

    .result-scent span {
      display: inline-block;
      padding-left: 2.7em;
      background: transparent url("scent_icon.png") left center no-repeat;
      background-size: 2.5em;
      line-height: 2.5em;
    }
    .result-count span {
      display: inline-block;
      padding-left: 2.7em;
      background: transparent url("count_icon.png") left center no-repeat;
      background-size: 2.5em;
      line-height: 2.5em;
    }
    .result-gender {
      display: inline-block;
      padding-top: 3.3em;
      background: transparent url("gender_icon.png") center top no-repeat;
      background-size: 1.6em;
      color: #FFD948;
      font-size: 1.3em;
      font-weight: bold;
    }
    .result-age {
      display: inline-block;
      color: #FFD948;
      font-size: 1.225em;
      font-weight: bold;
    }
    .stats {
      text-align: left;
    }
    .type {
      margin-left: 20px;
      padding-left: 2.7em;
      background-size: 4em;
      background-repeat: no-repeat;
      background-position: left top;
      line-height: 4em;
    }
    &.foncees {
      .type {
        background-image: url("foncees.png");
      }
    }
    &.claire {
      .type {
        background-image: url("claire.png");
      }
    }
    &.matte {
      .type {
        background-image: url("matte.png");
      }
    }
    .result-brands {
      text-align: left;

      ul {
        background: transparent url("brand_icon.png") left center no-repeat;
        background-size: 2.5em;
        padding-left: 3em; 
        margin: 10px 40px;
        
        li {
          list-style-type: none;
        }
      }
    }
    
  }
}

h2 {
  position: relative;
  font-size: 1.2em;
  padding: 0.5em 2.2em;
  text-align: center;
  text-transform: uppercase;
  font-family: "BebasNeue";
  color: #FFF;
  background-color: #646464;
  
  &:before, &:after {
    content:'';
    margin-top: -0.5em;
    border-width: 1.1em;
    position: absolute;
    border-style:solid;
    border-color: #646464 #FFF #646464 #646464;
  }
  &:before {
    left: 0em;
    border-color: #646464 #646464 #646464 #FFF;
  }
  &:after {
    right: 0;
  }
}

.land {
  fill: #CCC;
}