/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
   font-family: 'BebasNeue';
   src: url('BebasNeue-Regular.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: 'BebasNeue';
   src: url('BebasNeue-Bold.ttf') format('truetype');
   font-weight: bold;
   font-style: normal;
}

#sidebar {
  z-index: 1000;
  position: fixed;
  height: 100%;
  width: 300px;
  border-right: 20px solid #FFD948;
  padding: 10px;
  h1 {
    font-family: "BebasNeue";
    text-transform: uppercase;
    font-weight: bold;
  }
  img {
    margin: 20px auto;
  }
  .vivatech {
    width: 70%;
    display: block;
  }
  .footer {
    position: absolute;
    bottom: 0;
  }
}

.content {
  margin-left: 320px;
}